* {
  background-color: #f7a6be;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#titulo {
  color: #ff83ab;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  text-shadow: 1px 1px 1px black;
}

#sub-titulo {
  color: #ffae64;
  z-index: 1;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

#menu {
  display: flex;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #fd6490;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
}

#menu ul {
  background: none;
}

#menu h2 {
  background: none;
  text-decoration: none;
  color: #ffae64;
  background: none;
  background-color: #fd6490;
  text-shadow: 1px 2px 1px black;
  transition: 0.3s;
  margin-bottom: 55px;
  border: inset;
  border-width: 100%;
  z-index: 100;
}

#menu ul a {
  text-decoration: none;
  color: #ffae64;
  background: none;
  background-color: #fd6490;
  text-shadow: 1px 2px 1px black;
  border-style: outset;
  border-color: #f7a6be;
  border-width: 100%;
  transition: 0.3s;
}

#menu ul a:hover {
  color: #f7a6be;
}

#areamenu {
  width: 100px;
  height: 100%;
  z-index: 1;
  position: fixed;
}

.flor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#folha-1,
#folha-2,
#folha-3,
#folha-4,
#folha-5,
#folha-6,
#folha-7,
#folha-8 {
  height: 75px;
  width: 200px;
  background-color: #fd82a9;
  box-shadow: 1px 1px 2px black;
  border-radius: 50%;
  position: absolute;
}

#folha-1 a,
#folha-2 a,
#folha-3 a,
#folha-4 a,
#folha-5 a,
#folha-6 a,
#folha-7 a,
#folha-8 a {
  color: aqua;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: none;
  position: absolute;
  text-decoration: none;
}

#folha-1 {
  top: 50%;
  left: calc(50% + 150px);
  transform: translate(-50%, -50%);
}

#folha-2 {
  top: calc(50% - -90px);
  left: calc(50% + 100px);
  transform: translate(-50%, -50%) rotate(45deg);
}

#folha-3 {
  top: calc(50% - -120px);
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}

#folha-4 {
  top: calc(50% + 100px);
  left: calc(50% + -100px);
  transform: translate(-50%, -50%) rotate(135deg);
}

#folha-5 {
  top: 50%;
  left: calc(50% + -150px);
  transform: translate(-50%, -50%);
}

#folha-6 {
  top: calc(50% + -90px);
  left: calc(50% - 100px);
  transform: translate(-50%, -50%) rotate(225deg);
}

#folha-7 {
  top: calc(50% + -120px);
  left: calc(50% - -6px);
  transform: translate(-50%, -50%) rotate(90deg);
}
#folha-8 {
  top: calc(50% - 80px);
  left: calc(50% - -100px);
  transform: translate(-50%, -50%) rotate(145deg);
  z-index: 0;
}

#folha-1 a {
  left: calc(50% + -30px);
  bottom: 43%;
}

#folha-2 a {
  left: calc(50% + -40px);
  bottom: 47%;
}

#folha-3 a {
  left: calc(50% + -40px);
  bottom: 47%;
  transform: rotate(180deg);
}

#folha-4 a {
  left: calc(50% + -40px);
  bottom: 47%;
  transform: rotate(-180deg);
}

#folha-5 a {
  left: calc(50% + -40px);
  bottom: 47%;
}

#folha-6 a {
  left: calc(50% + -40px);
  bottom: 47%;
  transform: rotate(-180deg);
}

#folha-7 a {
  left: calc(50% + -40px);
  bottom: 47%;
}

#folha-8 a {
  left: calc(50% + -40px);
  bottom: 47%;
  transform: rotate(-180deg);
}

#flor-centro {
  top: 50%;
  left: 50%;
  background-color: #ffae64;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
}
