body {
  background: linear-gradient(to bottom right, #ffc1e3, #ff9ecf);
  font-family: arial, sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
}

.MainTitle {
  text-align: center;
  color: #ff4081;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.fundo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 400px;
  height: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
}

.fundo * {
  width: 90%;
  margin: 0 auto;
}

.fundo p {
  text-align: left;
}

#Mensagem {
  min-height: 409px;
  min-width: 318px;
  height: 150px;
  overflow-y: auto;
  max-width: 318px;
  max-height: 409px;
}

#fundo-top-menu a {
  text-decoration: none;
  background-color: #ff4081;
  color: #ffffff;
  border-style: outset;
  border-color: #f7a6be;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

#fundo-top-menu a :hover {
  background-color: #ff79b0;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .fundo {
    width: 95%;
    padding: 15px;
    gap: 10px;
  }

  .fundo > * {
    width: 100%;
  }
}